.DS_Store
node_modules
/dist
quantum-env
/dilemmavenv
/server/app/env
/server/app/venv

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
server/app/__pycache__/qis.cpython-311.pyc

